<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbank.userservice.dao.UserMapper">

    <resultMap id="orderMap" type="com.kbank.orderservice.entity.OrderEntity">
        <id property="id" column="id" />
        <result property="productId" column="product_id" />
        <result property="qty" column="qty" />
        <result property="unitPrice" column="unit_price" />
        <result property="totalPrice" column="total_price" />
        <result property="userId" column="user_id" />
        <result property="orderId" column="order_id" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="findByUserId" resultMap="orderMap" parameterType="java.lang.String">
        SELECT * FROM orders WHERE user_id = #{userId}
    </select>

    <select id="findByOrderId" resultMap="orderMap" parameterType="java.lang.String">
        SELECT * FROM orders WHERE order_id = #{orderId}
    </select>

    <insert id="save" parameterType="com.kbank.orderservice.entity.OrderEntity">
        INSERT INTO orders (product_id, qty, unit_price, total_price, user_id, order_id)
        VALUES (#{productId}, #{qty}, #{unitPrice}, #{totalPrice}, #{userId}, #{orderId})
    </insert>

    <!-- <select id="findByUserId" resultMap="userMap" parameterType="java.lang.String">
        SELECT * FROM users WHERE user_id = #{userId}
    </select> -->

</mapper>